// ********** FONTS ********** //
$titleFontFamily: 'Anton', sans-serif;
$textFontFamily: 'Manrope', sans-serif;

// ********** COLORS ********** //
// ***** FONTS COLORS *****
$h1FontColor: #FFD15B;
$textFontColor: #1B1B1B;
$lightTextFontColor: #7A7A7A;
$iconGreyFontColor: invert(77%) sepia(1%) saturate(0%) hue-rotate(36deg) brightness(99%) contrast(105%);
// ***** BACKGROUND COLORS *****
$darkBackground: #1B1B1B;
$mainBackground: #C6C6C6;
$hoverBackground: #FFD15B;
